@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
}
.container{
    height: 667px;
    width: 1440px;
    background-color:  #2D25A0;
    margin: 0 auto;
}
/*...........navbar start............... */
.container nav{
    display: flex;
    justify-content: space-evenly;
    padding: 42px;
}
nav ul li{
   list-style: none;
   display: inline-block;
   margin-left: 10px;
}
nav h2{
    background-color: azure;
    border-radius: 6px;
    padding: 5px;
}
nav ul li a{
    text-decoration: none;
    color: azure;
}
/*............navbar-end................ */
/*.................home-container-start................. */
.home-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.home-banner img{
    height: 438px;
    width: 556px;
   
}
.home-banner img:hover{
    transform: rotate(360deg);
    transition-duration: 2s;
}
.home-detail{
    font-size: 64px;
    font-weight: 700 bold;
    color: #FFFFFF;
}
.home-btn{
    background-color: #E02C6D;
    border: 1px solid black;
    border-radius: 8px;
    height: 44px;
    width: 168px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
}
/*.................home-container-end................. */
/*............ player-container-start............. */
.player-img img{
    height: 256px;
    width: 300px;
}
.player-img img:hover{
    transform: rotateY(360deg);
    transition-duration: 4s;
    border-radius: 25px;
    
}
.player-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 70px 210px 100px 210px;
    grid-gap: 30px 27px;
}
.player-info{
    border-radius: 5px;
    padding: 15px 15px 40px 15px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px 3px gray;
    margin-bottom: 10px;
}
.players-data{
    height: 104px;
    width: 100%;
}
.player-detaile{
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 154px;
    width: 300px;
}
.player-detaile h2{
    font-size: 28px;
    font-weight: 700 bold;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}
.players-data{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    padding-bottom: 10px;
}
/*............ player-container-end............. */
/*....................... copa-america-cintainer........................ */
.copa-america-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 53px ;
    justify-items: center;
    padding: 0 220px 50px 190px;

}
.copa-play img{
    height: 427px;
    width: 567px;
    border-radius: 3px;
}


.copa-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 309px;
    width: 466px;
}
.copa-header{
    font-size: 48px;
    color: #0A0826;
    margin-bottom: 8px;
}
.copa-info{
    font-size: 16px;
    color:#6C6C6C;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 24px;
}
/*....................... copa-america-container........................ */
/* ...................copa-cup-ground..................... */
.copa-cup-ground{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 30px 220px 80px 200px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    box-shadow: 5px 5px 5px 10px gray;
}
.stadium-img img{
    height: 320px;
    width: 550px ;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
}
.ground-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ground-info h4{
    font-size: 16px;
    color: #0A0826;
}
.ground-info h2{
    font-size: 48px;
    color: #0A0826;
    margin-bottom: 8px;
}
.ground-info button{
    height: auto;
    width: 90px;
    background-color: grey;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}
/* ...................copa-cup-ground..................... */
/* ............................footer-container...................... */
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    height: 110px;
    width: 487px;
    margin-bottom: -10px;
}
.social-icon{
    display: flex;
    flex-direction: row;
}

.fa-brands {
    border: 1px solid black;
    height: 32px;
    width: 32px;
    margin: 5px 4px;
    text-align: center;
    border-radius: 20px;
    padding-top: 7px;
    background-color: #969BAB;
}
.footer-container p, .grand-info p{
    height: 31px;
    width: 236px;
    color: #000000;
    padding: 5px;
    text-align: center;
}

/* ............................footer-container...................... */
/*.................. media quary.................. */

@media only screen and (max-width: 688px) {

    /* .................home-container................ */
    .container nav{
        display: none;
    }
    .container{
        height: auto;
        width: 100%;
        background-color:  #2D25A0;
        margin: 0 auto;
    }
    .home-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center; 
        padding: 20px;  
    }
    .home-banner img {
        height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .home-detail{
        font-size: 250%;
        font-weight: auto;
        color: #FFFFFF;
    }
    .home-btn{
        background-color: #E02C6D;
        border: 1px solid black;
        border-radius: 8px;
        height: auto;
        color: #FFFFFF;
        cursor: pointer;
    } 
/* .................home-container................ */
/* ................player-container...................... */
    .player-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding: 40px 0px 40px 0px;
        align-items: center;
        margin: 0px 30px 0px 30px;
    }
    .players-data{
        height: auto;
        width: 100%;
    }
    .player-img img{
        height: auto;
        width: 100%;
    }
    .player-detaile{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        height: auto;
        width: 100%;
    }
    
    .player-detaile h2{
        font-size: 100%;
        color: #18191F;
    }
    .players-data{
        font-size: 100%;
        color: #6C6C6C;
        padding-bottom: 10px;
    } 
    
/* ................player-container...................... */

     .copa-america-container{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 0 100px 20px 50px;
    }
    .copa-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        justify-content: center;
    }
    .copa-play img{
        height: auto;
        width: 100%;
        border-radius: 3px;
        margin-top: 20px;
    }
    .copa-info{
        font-size: 16px;
        color:#6C6C6C;
        font-weight: 400;
        line-height: auto;
        margin-bottom: 24px;
    }
    .copa-header{
        font-size: 200%;
        color: #0A0826;
        margin-bottom: 8px;
    }
    .home-btn{
        background-color: #E02C6D;
        border: 1px solid black;
        border-radius: 8px;
        height: auto;
        color: #FFFFFF;
        cursor: pointer; 
    }
    .copa-cup-ground {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        margin: 30px 0px 40px 0px;
    }
    .stadium-img img {
        height: auto;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        margin-top: 5px;
        padding: 30px;
    }
    .ground-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
    .footer-logo img {
        height: auto;
        width: 100%;
        margin-bottom: -10px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px;
    }
}
/*.................. media quary.................. */
/*................... mobile-device........................ */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    /* .................home-container................ */
    .container nav{
        display: none;
    }
    .container{
        height: auto;
        width: 100%;
        background-color:#2D25A0;
        margin: 0 auto;
    }
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0px 50px 0px;
    }
    .home-banner img {
        height: 438px;
        width: 556px;
        margin-top: 50px;
    }
/* .................home-container................ */
/* ................player-container...................... */

/* ................player-container...................... */

    .player-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 30px 0px 50px 0px;
        grid-gap: 10px 7px;
    }
    .player-img img{
        height: auto;
        width: 100%;
    }
    .player-info {
        border-radius: 5px;
        padding: 5px 6px 16px 9px;
        background-color: #FFFFFF;
        box-shadow: 5px 5px 5px 3px grey;
    }
    .copa-america-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 0 50px 20px 50px;
    }
    .copa-play img {
        height: 427px;
        width: 567px;
        border-radius: 3px;
        margin-top: 45px;
    }
    .copa-cup-ground {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        margin: 30px 0px 40px 0px;
    }
    .stadium-img img {
        height: auto;
        width: 100%;
        text-align: center;
        border-radius: 20px;
        margin-top: 5px;
        padding: 30px;
    }
    .ground-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
}
/*................... mobile-device........................ */